
.clients {
  padding-top: 60px;
  padding-bottom: 94px;

  & h2 {
  color: $title-color;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  }
}


.client_list {
  
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin: -15px;
  
  
  
}

.client_item {
  
  display: flex;
  
  
  height: 90px;
  align-items: center;
  justify-content: center;
  border: 1px solid $client-fill;

  border-radius: 4px;

  transition:  $border-animation;

// margin-bottom: 30px;
width: calc((100% - 4 * 15px) / 2);
margin: 15px;

  
  
  

  

  & a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  }

  &:hover,
  &:focus {
  border: 1px solid $accent-color;
}

}





.client_link-logo {
  fill: $client-fill;
  transition: $fill-animation;
}




.client_item:hover .client_link-logo,
.client_item:focus .client_link-logo {
  fill: $accent-color;
}

.client_link:focus .client_link-logo {
  fill: $accent-color;
}




// @media screen and (min-width: 480px) {
// .client_item {

//   width: 210px;
  
// &:nth-child(odd) {
//   margin-right: 30px;
//   }
  
  
// }
// }






@media screen and (min-width: 1200px) {

.clients {

 padding-top: 94px;

  & h2 {
  
  font-size: 36px;
  line-height: 1.17;

  }
}

.client_item {
  width: 170px;
  height: 90px;

 &:not(:last-child) {
  margin-right: 30px;
  }
  
  
}
}

