


.features {
  display: block;

  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  // padding-left: 15px;
  // padding-right: 15px;
  padding-left: 0;

  &_title {

  display: flex;
  justify-content: center;

  color: $title-color;
  

  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;

  }
}



.bcg {
  display: flex;
  width: 100%;
  
  background-color: $background-box-color;
  
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  
}



.features_item {
  // width: 450px;

  

& p {
    margin-bottom: 30px;

}

}


@media screen and (min-width: 768px) {
.features{

display: flex;
flex-wrap: wrap;


}


.features_item{
  margin: 15px;
  width:  calc((100% - 4 * 15px) / 2);
}









@media screen and (min-width: 1200px) {

.features {
  display: flex;

  &_title {
  
  font-size: 14px;
  justify-content: left;
  

  }
  
}

.features_item {
  width: 270px;
  margin: 0;

  &:not(:last-child) {
  margin-right: 30px;
}

& p {
    margin: 0;

}
}

.bcg {
  width: 270px;
  padding: 25px 100px;
}

}
}