
@media screen and (min-width: 1200px) {
.features {
  display: flex;

  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 0;

  &_title {
  color: $title-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;

  }
}

.bcg {
  width: 270px;
  height: 120px;
  background-color: $background-box-color;
  padding: 25px 100px;
  border-radius: 4px;
  margin-bottom: 30px;
}



.features_item {
  width: 270px;

  &:not(:last-child) {
  margin-right: 30px;
}

& p {
    margin: 0;

}

}

}