
.footer {
  background-color: $footer-bcg;
  padding-bottom: 60px;

  & .logo{
    color: $background-color;
  }
}


.foot{
  padding-top: 60px;
  
  margin-bottom: 20px;

  text-align: center;
}



.footer_address {
  


  color: $background-color;
  
  margin-bottom: 9px;
  text-decoration: none;
  font-style: normal;

  
  
}


.footer_list {
  
  padding: 0;
  margin-bottom: 0;
  

  & .footer_item-link {
   color: rgba(255, 255, 255, 0.6);
  }

}


.footer_item:not(:last-child) {
  margin-bottom: 9px;
}

 .footer_item-link {
  text-decoration-line: none;
}



.join {
  padding-top: 72px;
  text-align: center;
  

 & b {

  display: block;
  font-family: $roboto-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 20px;

  color: $background-color;

 }

}


.no-margin {
  margin: 0;

& .social-box {
  fill: $background-color;
}

& .social_item {
  background: rgba(255, 255, 255, 0.1);
}

& .social_item:hover {
  background-color: $accent-color;
}

}


@media screen and (max-width: 767px) {

.footer_address {
  
text-align: center;

}
.footer_list {
  
  
  text-align: center;
}
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
.flex_tablet_footer{
  display: flex;
  justify-content: space-between;
  align-content: center;

}

.join{
  padding: 0;
}

.foot{
  padding: 0;


}

.footer_section{
  padding-top: 60px;
  text-align: center;
}

.join{
padding-top: 65px;

}

.footer_address{
  margin-top: 20px;
}

}


@media screen and (min-width: 1200px) {
.footer_flex {
  display: flex;
}
// !!!
.flex_tablet_footer{
  display: flex;
}

.footer_address {
  width: 231px;
  margin-top: 20px;
}

.footer_section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer_list {
  margin: 0;
  padding: 0;
}

.join {

  margin-left: 70px;
}

}


