
  
  
 .menu-button{
   display: none;
 } 


 
  

  


@media screen and (max-width: 767px) {

  .header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
padding-top: 16px;
    padding-bottom: 16px;
  
.menu-button{

  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;


}

.menu-button:hover , .menu-button:focus {

  fill: $accent-color;

}

.menu-button .icon-cross{

  display: none;
}

.menu-button.is-open .icon-cross{
  display: block;
}

.menu-button.is-open .icon-menu{
  display: none;
}
  
}

.header{

  border-bottom: 1px solid #ececec;
position: relative;

}


.menu-container{
  
display: none;
background: #FFFFFF;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
height: 400px;
width: 100%;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

text-align: center ;
padding-top: 60px;



  &.is-open{
    display: block;
  }
}


}


@media screen and (min-width: 1200px) {

  .header_nav {
  display: flex;

  }

.header {
  height: 80px;
  
  
}

.header_all{

  display: flex;
}

.menu-container{
  display: flex;
}

}