
.logo {
color: $additional-color ;
font-family: $raleway-font;
font-weight: 700;
font-size: 24px;
line-height: 1.17;
text-decoration: none;
letter-spacing: 0.03em;

}

.accent {
  color: $accent-color;
}


@media screen and (max-width: 768px) {
.logo {
 display: block;

}
}

@media screen and (min-width: 1200px) {
.logo {
  
  
  font-size: 26px;
  line-height: 1.19;
  
}
}
